# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.aux
*.log
*.un~
*.synctex.gz

*.bbl
*.blg

main
CMakeCache.txt
screenshot.bmp
raytracer
CMakeFiles/
Makefile
cmake_install.cmake
tags
old_versions/raytracing-kd/.ycm_extra_conf.py
